{% extends "_layout.html" %}
{% block content %}
<table class="time-table">
    <tr>
        <th>Name</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Average</th>
    </tr>
    {% for person in people %}
    <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.days['monday'] }}</td>
        <td>{{ person.days['tuesday'] }}</td>
        <td>{{ person.days['wednesday'] }}</td>
        <td>{{ person.days['thursday'] }}</td>
        <td>{{ person.days['friday'] }}</td>
        <td>{{ person.average_time }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Latest Checkins</h2>
<table class="table-checkins">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Time</th>
    </tr>
    {% for checkin in checkins %}
    <tr>
        <td>{{ checkin["name"] }}</td>
        <td>{{ checkin["type"] }}</td>
        <td>{{ checkin["time"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
